<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jana.mapper.URLObjectMapper">


<select id="getAllURLObject" 
		resultType="com.jana.model.URLObject">
	select id as id, url as url, status_code as statusCode, load_time as loadTime from URLObject where id = 1
</select>

<insert id="addURLObject"
		parameterType="com.jana.model.URLObject"
		useGeneratedKeys="true" 
		keyProperty="id">
	insert into URLObject(url, status_code, load_time) values (#{url}, #{statusCode}, #{loadTime})
</insert>

<select id="getURLObjectById" 
		parameterType="int" 
		resultType="com.jana.model.URLObject">
	select id as id, url as url, status_code as statusCode, load_time as loadTime from URLObject where id = #{id}
</select>

</mapper>